<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="C:\Users\me\Desktop\pythonApp\pilloweb;C:\Users\me\Desktop\pythonApp\pilloweb\venv\Lib\site-packages" />
        <add key="WSGI_HANDLER" value="app.app.wsgi_app" />
    </appSettings>
    <system.webServer>
        <handlers>
            <remove name="FlaskHandler" />
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python36\python.exe|C:\Python36\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
